POSTGRES_DB=zevo
POSTGRES_USER=zevo
POSTGRES_PASSWORD=zevo
DEV_MODE=true
SIMULATION_INTERVAL_SECONDS=5
PLANET_YEARS_PER_REAL_SECOND=200
SPECIES_GENERATIONS_PER_SIMULATION_STEP=1000
SIMULATION_RANDOM_SEED=42
